<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<form action="/auth/register" method="post">
    <p>
        <label>username</label>
        <input name="username">
    </p>
    <p>
        <label>password</label>
        <input name="password">
    </p>
    <input type="submit" value="注册">
</form>
<a href="/auth/login">返回登录</a>
</body>
</html>